<p>
  <label>:name</label>
  <%= text_field_tag :name %>
</p>
<p>
  <label>:hometown</label>
  <%= text_field_tag :hometown %>
</p>
<p>
  <label>:birthday</label>
  <%= text_field_tag :birthday %>
</p>
  <%= submit_tag "Submit" %>